x86_64
*.dat
/NEURON/test/*.dat
/NEURON/channels/*.dat
/NeuroML2/L5_model2.cell.png
*.ipynb
*.xml
/NeuroML2/*_nrn.py
/NeuroML2/*.mod
/NeuroML2/*.hoc
/NeuroML2/pyr_single_compartment_example_sim-v.png
