
name: Continuous build using OMV

on:
  push:
    branches: [ master, development, experimental, "*test*" ]
  pull_request:
    branches: [ master, development, experimental, "*test*" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.9, "3.12" ]
        engine: 
          - jNeuroML_validate
          # - "NEURON:7.8.2"  # slightly different spike times...
          - "NEURON:8.2.6"
          - jNeuroML
          - jNeuroML_NEURON
          - jNeuroML_NetPyNE

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python  ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version:  ${{ matrix.python-version }}

    - name: Install OMV
      run: |
        pip install git+https://github.com/OpenSourceBrain/osb-model-validation
        pip install scipy sympy matplotlib cython pandas tables


    - name: Compile some mod files
      if: ${{ contains( matrix.engine, 'NEURON' ) }}
      run: |
        omv install NEURON
        cd NEURON/test
        nrnivmodl ../channels

    - name: Run OMV tests on engine ${{ matrix.engine }}
      run: |
        omv all -V --engine=${{ matrix.engine }}

    - name: OMV final version info
      run: |
        omv list -V # list installed engines
        env
